# Default: personal identity (all repos except work dirs below)
[include]
	path = ~/.gitconfig-personal
# Work identity for ByDesign repos only
[includeIf "gitdir:C:/Code/ByDesign.bd/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:C:/Code/ByDesign.Intranet/"]
	path = ~/.gitconfig-work
[include]
	path = ~/.gitconfig-aliases

[core]
	autocrlf = true
	editor = code --wait
	excludesFile = C:\\Users\\malu.loynaz\\.gitignore_global
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = false
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
